$mobile-width: 450px;
$tablet-width: 900px;
$desktop-width: 1024px;
$desktop-lg-width: 1400px;

@mixin mobile {
  @media only screen and (max-device-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-device-width: #{$tablet-width}) {
    @content;
  }
}


@mixin desktop {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-lg {
  @media only screen and (min-width: #{$desktop-lg-width}) {
    @content;
  }
}
