@import "media-queries";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

$font-stack: 'Open Sans', sans-serif;

$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.wrapper {
    margin: 18vw auto 0 15%;
    text-align:center;
    @include desktop-lg {
        margin-top: 22vw;
    }
    @include tablet {
        margin-right: 15%;
    }
    @include mobile {
        margin: 26vw 5% 0 5%;
    }
 }

  .box {
      border: 1px #ccc solid;
      border-radius: 6px;
      padding: 20px;
      margin-right: 4%;
      padding: 20px;
      min-height: 510px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
        @include tablet {
          margin: 0 0 8vw 0;
          width: 100%;
          padding: 5vw;
          min-height: 1160px;
      }
  }
  .box:last-child {
    margin-right: 0;
}

.v-align--top {
    align-self: flex-start;
  }
  
  .v-align--bottom {
    align-self: center;
  }
  
  h1, h2 {
    font-family: $font-stack;
    color: #fff;
    text-align: center;
  }
  h1 {
      font-size: 46px;
      line-height: 56px;
      font-weight: 700;
      margin-top: 16.5vw;
      margin-bottom: 0;
      padding: 0 10%;
      @include tablet {
        font-size: 7vw;
        line-height: 150%;
        margin-top: 9vw;
     }
      @include mobile {
          font-size: 11vw;
          line-height: 140%;
          margin-top: 20vw;

      }
    }
  
  h2 {
    font-size: 24px;
    font-weight: normal !important;
    line-height: 34px;
    margin-top: 0;
    @include tablet {
        line-height: 140%;
        font-size: 5vw;
    }
    @include mobile {
        font-size: 6vw;
        line-height: 150%;
    }
  }

  p {
      font-size: 14px;
      line-height: 18px;
      font-weight: 300;
      height: -webkit-fill-available;
      max-height: 200px;
      @include tablet {
        font-size: 32px;
        line-height: 40px;
        max-height: 480px;
    }
    @include mobile {
        font-size: 4vw;
        line-height: 140%;
    }
   }

  .bg-img-lg {
      background-image: url('http://via.placeholder.com/1440x650');
      background-repeat: no-repeat;
      background-size: 100%;
      @include mobile {
          background-image: url('http://via.placeholder.com/600x600');
      }
  }

  @mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background:darken($bg,8%);
      transition: all 0.3s ease;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }
  
  .btn {
   color:white;
   text-decoration:none;
   padding:10px 20px;
   border-radius:30px;
   font-family: $font-stack;
   font-size:14px;
   text-transform: uppercase;
   color: #000;
   text-align: center;
   font-weight: bold;
   white-space: nowrap;
   letter-spacing: 2px;
   cursor: pointer;
   @include tablet {
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 32px;
   }
   @include mobile {
    padding: 15px 60px;
    border-radius: 60px;
    font-size: 48px;
   }
  }
  
  .btn-blk-border {
     @include button-bg(#fff);
     border: 3px #000 solid;
  }

  .img-responsive {
    width: 100%;
    border-radius: 4px;
}